body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color:black;
padding-left: 1em;
text-align: center;
color:whitesmoke;
font-weight: bold;
background-image:url(wm_s.webp) ;



}

h1 {
    color: whitesmoke;
    text-shadow: ;
    
    
}

#message-el {
font-size: x-large;


}
#start-button {
    background-color:blue;
    color:black;
    width: 150px;
    font-weight: bold;
    border: none;
    border-radius:2px ;
    padding-top: 1em;
    padding-bottom: 1em;
    
}
#new-card-button {
    background-color: blue;
    color: black;
    width: 150px;
    font-weight: bold;
    border: none;
    border-radius:2px ;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1rem;
    
}
